<div class="modal-header">
	<h3 class="modal-title">Detalhes da Aula</h3>
</div>
<div class="modal-body">
	<div ng-hide="isEditing">
		<div class="form-group">
			<label>Curso:</label>
			<div>{{form.course.name}}</div>
		</div>
		<div class="form-group">
			<label>Matéria:</label>
			<div>{{form.subject.name}}</div>
		</div>
		<div class="form-group">
			<label>Módulo:</label>
			<div>{{form.module.name}}</div>
		</div>
		<div class="form-group">
			<label>Data:</label>
			<div>{{form.startDate | date : 'medium'}}</div>
		</div>
	</div>

	<div ng-show="isEditing">
		<form class="form-horizontal" name="beanForm" novalidate>
			<div class="form-group">
				<label class="col-xs-2 control-label">Curso</label>
				<div class="col-xs-8">
					<select ng-model="form.courseId" class="form-control">
						<option ng-repeat="bean in courses" value="{{bean.id}}">{{bean.name}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">Matéria</label>
				<div class="col-xs-8">
					<select ng-model="form.subjectId" class="form-control">
						<option ng-repeat="bean in subjects" value="{{bean.id}}">{{bean.name}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">Módulo</label>
				<div class="col-xs-8">
					<select ng-model="form.moduleId" class="form-control">
						<option ng-repeat="bean in modules" value="{{bean.id}}">{{bean.name}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">Data</label>
				<div class="col-xs-8 input-group">
					<input type="text" class="form-control" uib-datepicker-popup
						ng-model="form.startDate" is-open="startDatePopup.opened"
						min-date="minDate" max-date="maxDate"
						datepicker-options="dateOptions" current-text="Hoje"
						clear-text="Limpar" close-text="Fechar" /> <span
						class="input-group-btn">
						<button type="button" class="btn btn-default"
							ng-click="startDatePopup.opened = true">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-2 control-label">Horário</label>
				<div class="col-xs-8">
					<uib-timepicker ng-model="form.startDate" hour-step="hstep"
						minute-step="mstep" show-meridian="true"></uib-timepicker>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
	<button ng-hide="isEditing" class="btn btn-success" type="button"
		ng-click="edit()">
		<span class="glyphicon glyphicon-edit"></span> Editar
	</button>
	<button ng-hide="isEditing" class="btn btn-primary" type="button"
		ng-click="close()">Fechar</button>
	<button ng-show="isEditing" class="btn btn-default" type="button"
		ng-click="cancel()">Cancelar</button>
	<button ng-show="isEditing" class="btn btn-primary" type="button"
		ng-click="save()">Salvar</button>
</div>
