<div class="panel">
	<div class="panel-body view-header">
		<h2 class="title">Cursos</h2>
		<div class="button-bar">
			<button class="btn btn-primary btn-sm" ng-show="isConsult"
				ng-click="createOrEditBean()">Novo Curso</button>
			<button class="btn btn-primary btn-sm" ng-hide="isConsult"
				ng-click="saveForm(mainForm.$valid)" ng-disabled="mainForm.$invalid">Salvar</button>
			<button class="btn btn-link btn-sm" ng-hide="isConsult"
				ng-click="cancelForm()">Cancelar</button>
		</div>
	</div>
</div>

<div ng-hide="isConsult" class="well bs-component">

	<form class="form-horizontal" name="beanForm" novalidate>
		<fieldset>
			<ng-form name="mainForm">
			<div class="form-group"
				ng-class="{ 'has-error': beanForm.name.$touched && beanForm.name.$invalid }">
				<label class="col-lg-2 control-label">Nome do Curso</label>
				<div class="col-lg-10">
					<input type="text" name="name" ng-model="form.name"
						class="form-control" required autofocus>
				</div>

				<div class="help-block" ng-messages="beanForm.name.$error"
					ng-if="!beanForm.name.$pristine">
					<p ng-message="required">Preencha o nome do curso.</p>
				</div>
			</div>
			</ng-form>

			<div class="form-group" style="padding: 10px" ng-show="form.id">
				<uib-tabset> <!-- SUBJECT TAB --> <uib-tab
					select="subjectTabSelected()" heading="Matérias">
				<div style="padding-top: 10px">
					<div class="form-group" ng-hide="subject.isConsult">
						<label class="col-xs-2 control-label">Nome da Matéria</label>
						<div class="col-xs-4">
							<input type="text" name="subjectName"
								ng-model="subject.form.name" class="form-control"
								ng-required="form.id">
						</div>

						<div class="col-xs-6">
							<button class="btn btn-primary"
								ng-click="subject.saveForm(beanForm.subjectName.$valid)"
								ng-disabled="beanForm.subjectName.$invalid">Salvar
								Matéria</button>
							<button class="btn btn-link" ng-click="subject.cancelForm()">Cancelar</button>
						</div>
					</div>

					<div ng-show="subject.isConsult">
						<div class="btn-toolbar">
							<button class="btn btn-link btn-sm"
								ng-click="subject.createOrEditBean()">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								Nova Matéria
							</button>
						</div>
						<table class="table table-striped table-hover table-bordered">
							<thead>
								<tr>
									<th>Nome da Matéria</th>
								</tr>
							</thead>
							<tbody>
								<tr style="cursor: pointer"
									ng-repeat="bean in subject.beans | orderBy: 'name'"
									ng-click="$parent.subject.createOrEditBean(bean.id)">
									<td>{{bean.name}}</td>
								</tr>
							</tbody>
						</table>

						<ul class="pagination">
							<li ng-class="{ 'disabled' : subject.hasPreviousPage }"><a
								ng-click="subject.previousPage()">&laquo;</a></li>
							<li ng-class="{ 'active' : subject.page === $index }"
								ng-repeat="p in subject.numberOfPages track by $index"><a
								ng-click="$parent.subject.goPage($index);">{{$index}}</a></li>
							<li ng-class="{ 'disabled' : subject.hasNextPage }"><a
								ng-click="subject.nextPage()">&raquo;</a></li>
						</ul>
					</div>


				</div>
				</uib-tab> <!-- Modulos --> <uib-tab select="moduleTabSelected()"
					heading="Módulos">
				<div style="padding-top: 10px">
					<ng-form name="moduleForm">
					<div ng-hide="module.isConsult">
						<div class="form-group">
							<label class="col-xs-2 control-label">Nome do Módulo</label>
							<div class="col-xs-4">
								<input type="text" name="moduleName" ng-model="module.form.name"
									class="form-control" ng-required="form.id">
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label">Matéria</label>
							<div class="col-xs-4">
								<select name="moduleSubject" ng-model="module.form.subjectId"
									class="form-control" ng-required="form.id">
									<option ng-repeat="bean in module.subjects" value="{{bean.id}}">{{bean.name}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label">Data de Referência</label>
							<div class="col-xs-4 input-group">
								<input type="text" class="form-control"
									uib-datepicker-popup="dd/MM/yyyy"
									ng-model="module.form.referenceDate"
									is-open="module.referenceDatePopup.opened" min-date="minDate"
									max-date="maxDate" datepicker-options="dateOptions"
									current-text="Hoje" clear-text="Limpar" close-text="Fechar" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="module.referenceDatePopup.opened = true">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>

						<div class="col-xs-6">
							<button class="btn btn-primary"
								ng-click="module.saveForm(moduleForm.$valid)"
								ng-disabled="moduleForm.$invalid">Salvar Módulo</button>
							<button class="btn btn-link" ng-click="module.cancelForm()">Cancelar</button>
						</div>
					</div>
					</ng-form>

					<div ng-show="module.isConsult">
						<div class="btn-toolbar">
							<button class="btn btn-link btn-sm"
								ng-click="module.createOrEditBean()">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								Novo Módulo
							</button>
						</div>
						<table class="table table-striped table-hover table-bordered">
							<thead>
								<tr>
									<th>Nome do Módulo</th>
									<th>Matéria</th>
									<th>Data de Referência</th>
									<th>Alunos</th>
								</tr>
							</thead>
							<tbody>
								<tr style="cursor: pointer"
									ng-repeat="bean in module.beans | orderBy: 'name'"
									ng-click="$parent.module.createOrEditBean(bean.id)">
									<td><a href="#/module/{{bean.id}}">{{bean.name}}</a></td>
									<td>{{bean.subject.name}}</td>
									<td>{{bean.referenceDate | date : 'dd/MM/yyyy'}}</td>
									<td><a ng-click="$parent.module.openStudents(bean)">Ver
											Alunos</a></td>
								</tr>
							</tbody>
						</table>

						<ul class="pagination">
							<li ng-class="{ 'disabled' : module.hasPreviousPage }"><a
								ng-click="module.previousPage()">&laquo;</a></li>
							<li ng-class="{ 'active' : module.page === $index }"
								ng-repeat="p in module.numberOfPages track by $index"><a
								ng-click="$parent.module.goPage($index);">{{$index}}</a></li>
							<li ng-class="{ 'disabled' : module.hasNextPage }"><a
								ng-click="module.nextPage()">&raquo;</a></li>
						</ul>
					</div>

				</div>
				</uib-tab> <!-- Aulas --> <uib-tab select="classschedulementTabSelected()"
					heading="Aulas">
				<div style="padding-top: 10px">
					<ng-form name="classSchedulementForm">
					<div ng-hide="classschedulement.isConsult">
						<div class="form-group">
							<label class="col-xs-2 control-label">Matéria</label>
							<div class="col-xs-4">
								<select ng-model="classschedulement.form.subjectId"
									class="form-control" ng-required="form.id">
									<option ng-repeat="bean in classschedulement.subjects"
										value="{{bean.id}}">{{bean.name}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label">Módulo</label>
							<div class="col-xs-4">
								<select ng-model="classschedulement.form.moduleId"
									class="form-control" ng-required="form.id">
									<option ng-repeat="bean in classschedulement.modules"
										value="{{bean.id}}">{{bean.name}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label">Data da Aula</label>
							<div class="col-xs-4 input-group">
								<input type="text" class="form-control"
									uib-datepicker-popup="dd/MM/yyyy"
									ng-model="classschedulement.form.startDate"
									is-open="classschedulement.startDatePopup.opened"
									min-date="minDate" max-date="maxDate"
									datepicker-options="dateOptions" current-text="Hoje"
									clear-text="Limpar" close-text="Fechar" /> <span
									class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="classschedulement.startDatePopup.opened = true">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label">Horário</label>
							<div class="col-xs-8">
								<uib-timepicker ng-model="classschedulement.form.startDate"
									hour-step="1" minute-step="5" show-meridian="true"></uib-timepicker>
							</div>
						</div>

						<div class="alert alert-dismissible alert-success col-xs-8"
							ng-show="classschedulement.saveContinueSuccess">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Sucesso!</strong> A aula foi gravada, mas os dados foram
							mantidos para você cadastrar uma nova aula.</a>.
						</div>

						<div class="col-xs-6">
							<button class="btn btn-primary"
								ng-click="classschedulement.saveForm(classSchedulementForm.$valid)"
								ng-disabled="classSchedulementForm.$invalid">Salvar
								Aula</button>
							<button class="btn"
								ng-click="classschedulement.saveAndContinueForm(classSchedulementForm.$valid)"
								ng-disabled="classSchedulementForm.$invalid">Salvar e
								continuar</button>
							<button class="btn btn-link"
								ng-click="classschedulement.cancelForm()">Cancelar</button>
						</div>
					</div>
					</ng-form>

					<div ng-show="classschedulement.isConsult">
						<div class="btn-toolbar">
							<button class="btn btn-link btn-sm"
								ng-click="classschedulement.createOrEditBean()">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								Nova Aula
							</button>
						</div>
						<table class="table table-striped table-hover table-bordered">
							<thead>
								<tr>
									<th>Data da Aula</th>
									<th>Matéria</th>
									<th>Módulo</th>
								</tr>
							</thead>
							<tbody>
								<tr style="cursor: pointer"
									ng-repeat="bean in classschedulement.beans | orderBy: 'name'"
									ng-click="$parent.classschedulement.createOrEditBean(bean.id)">
									<td>{{bean.startDate | date : 'dd/MM/yyyy HH:mm'}}</td>
									<td>{{bean.subject.name}}</td>
									<td>{{bean.module.name}}</td>
								</tr>
							</tbody>
						</table>

						<ul class="pagination">
							<li ng-class="{ 'disabled' : classschedulement.hasPreviousPage }"><a
								ng-click="classschedulement.previousPage()">&laquo;</a></li>
							<li ng-class="{ 'active' : classschedulement.page === $index }"
								ng-repeat="p in classschedulement.numberOfPages track by $index"><a
								ng-click="$parent.classschedulement.goPage($index);">{{$index}}</a></li>
							<li ng-class="{ 'disabled' : classschedulement.hasNextPage }"><a
								ng-click="classschedulement.nextPage()">&raquo;</a></li>
						</ul>
					</div>

				</div>
				</uib-tab> </uib-tabset>
			</div>
		</fieldset>
	</form>

</div>

<div ng-show="isConsult">
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>Nome</th>
			</tr>
		</thead>
		<tbody>
			<tr class="pointer" ng-repeat="bean in beans | orderBy: 'name'"
				ng-click="$parent.createOrEditBean(bean.id)">
				<td>{{bean.name}}</td>
			</tr>
		</tbody>
	</table>

	<ul class="pagination">
		<li ng-class="{ 'disabled' : hasPreviousPage }"><a
			ng-click="previousPage()">&laquo;</a></li>
		<li ng-class="{ 'active' : page === $index }"
			ng-repeat="p in numberOfPages track by $index"><a
			ng-click="$parent.goPage($index);">{{$index}}</a></li>
		<li ng-class="{ 'disabled' : hasNextPage }"><a
			ng-click="nextPage()">&raquo;</a></li>
	</ul>
</div>