<div ng-show="isAuthenticated">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">Acesso rápido</div>
			<div class="panel-body">
				<div class="list-group">
					<a href="#/students/new" class="list-group-item">
						<h4 class="list-group-item-heading">Cadastrar um aluno</h4>
						<p class="list-group-item-text">Clique aqui para cadastrar um
							novo aluno</p>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">Aulas próximas</div>
			<div class="panel-body">
				<div class="list-group">
					<a href="#/module/{{class.moduleId}}/{{class.id}}"
						class="list-group-item"
						ng-repeat="class in classSchedulements | orderBy: 'startDate'"
						ng-class="{ 'overpast' : !class.overpast }"> {{class.startDate
						| date: 'HH:mm dd/MM/yyyy'}} - {{class.subject.name}} </a>
				</div>
				<button class="btn btn-link" ng-click="createClassSchedulement()">Criar
					aula</button>
			</div>
		</div>
	</div>

</div>