<div class="panel">
	<div class="panel-body view-header">
		<h2 class="title">
			<span class="viewtitle-soft"> Módulo</span> <b>{{module.name}}</b>
		</h2>
	</div>
</div>

<div class="row col-xs-12">
	<div class="form-group col-sm-4 col-lg-2" ng-show="course">
		<label>Curso:</label>
		<div>{{course.name}}</div>
	</div>
	<div class="form-group col-sm-4 col-lg-2" ng-show="subject">
		<label>Matéria:</label>
		<div>{{subject.name}}</div>
	</div>
</div>

<div style="padding-top: 80px;">
	<legend>Presenças por aulas deste módulo</legend>
	<div class="button-bar">
		<button class="btn btn-link btn-sm" ng-click="openStudents(module)">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			Adicionar ou remover alunos
		</button>
	</div>

	<div ng-if="!students || !students.length"
		class="alert alert-dismissible alert-warning">
		<p>Não existem alunos cadastrados nesse módulo, clique no link
			acima para adicionar alunos.</p>
	</div>

	<table class="table table-striped table-hover table-bordered"
		ng-if="students.length">
		<thead>
			<tr>
				<th>Aluno</th>
				<th ng-repeat="class in classSchedulements | orderBy: 'startDate'"
					ng-class="{ 'active' : classSchedulementId === class.id}">Aula
					{{class.startDate | date: 'dd/MM/yy'}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="bean in students | orderBy: 'nome'">
				<td>{{bean.nome}}</td>
				<td ng-repeat="class in classSchedulements | orderBy: 'startDate'"
					ng-class="{ 'active' : classSchedulementId === class.id}"><input
					type="checkbox" ng-change="changePresence(class, bean)"
					ng-model="class.presences[bean.id]"></td>
			</tr>
		</tbody>
	</table>

</div>

