<div class="panel">
	<div class="panel-body view-header">
		<h2 class="title">Alunos</h2>
		<div class="button-bar">
			<button class="btn btn-default btn-sm" ng-click="createOrEditBean()">Novo
				Aluno</button>
		</div>
	</div>
</div>

<div>
	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				<th>Nome</th>
				<th>E-Mail</th>
				<th>Telefone</th>
			</tr>
		</thead>
		<tbody>
			<tr style="cursor: pointer" ng-repeat="bean in beans"
				ng-click="$parent.createOrEditBean(bean.id)">
				<td>{{bean.nome}}</td>
				<td>{{bean.email}}</td>
				<td>{{bean.telefoneresidencial | concatif :
					bean.telefonecelular}}</td>
			</tr>
		</tbody>
	</table>

	<ul class="pagination">
		<li ng-class="{ 'disabled' : hasPreviousPage }"><a
			ng-click="previousPage()">&laquo;</a></li>
		<li ng-class="{ 'active' : page === $index }"
			ng-repeat="p in numberOfPages track by $index"><a
			ng-click="$parent.goPage($index);">{{$index}}</a></li>
		<li ng-class="{ 'disabled' : hasNextPage }"><a
			ng-click="nextPage()">&raquo;</a></li>
	</ul>

</div>